@charset "UTF-8";

@font-face {
    font-family: 'Lemon-milk';
    src: url(../font/lemon_milk/LEMONMILK-Medium.otf) format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
    text-align: justify;
    box-sizing: border-box;
}

:root{

    /* Paleta de Cores */

    --cor1: #F52516;
    --cor2: #AE4F1F;
    --cor3: orange;
    --cor4: #4B3A39;
    --cor5: #9BD2DD;

    /* Fonts */

    --font-padrao: 'arial';
    --font1: 'Lemon-milk';
}

header{
    background: black url(../img/poltronas-teatro.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 150px);
    color: white;
    
}

header div{
    background-color: rgba(0, 0, 0, 0.696);
    height: calc(100vh - 150px);
    padding: 10px;
    box-sizing: border-box;

    position: relative;
}

header h1{
    font-family: var(--font1);
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color: var(--cor3);
    
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

main{
    background-color: white;
}

main .impar{
    background-color: white;
}

main .impar h2{
    font-family: var(--font1);
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.468);
}

main section{
    padding: 10px;
    line-height: 3em;
}

main section p{
   font-size: 1.5em;
}

#img{
    background: url(../img/grupo-teatro.avif) no-repeat center fixed;
    background-size: cover;
    height: 200px;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.322) inset;
}

main .par{
    background-color: var(--cor5);
}

main .par h1{
    font-family: var(--font1);
    font-size: 2em;
    text-align: center;
    margin: 30px;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.468);
}

main .par .card{
    background-color: WHITE;
    width: 280px;
    text-align: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.416);
    border-radius: 7px;
    

    margin: 50px auto;
    padding-bottom: 10px;
}

main .par .card:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.416);
    transform: scale(1.1)
    
}

main .par .card span{
    font-size: 3em;
    color: rgb(255, 132, 0);
    margin-top: 50px;
}

main .par .card span:hover{
    color: rgb(201, 131, 1);
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
}

main .par .card h2{
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.284);
    text-align: center;
    font-family: var(--font1);
    font-size: 1.2em;
    color: rgb(46, 46, 46);
}

main .par .card p{
    color: gray;
    font-size: 1.1em;
    line-height: 1em;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin-bottom: 15px;
    padding: 0px 15px 15px 15px;
}

main .par .card .saiba-mais{
    background-color: rgb(255, 132, 0);
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    border-radius: 7px;

    padding: 10px;
}

main .par .card .saiba-mais:hover{
    background-color: white;
    color: rgb(255, 132, 0);
    border: 1.5px solid var(--cor3);
    transition: 1s;
}

